<%= form_for([@domain, @alias]) do |f| %>
  <% if @alias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alias.errors.count, "error") %> prohibited this alias from being saved:</h2>

      <ul>
        <% @alias.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <% if controller.action_name == "edit" %>
      <%= f.text_field :address, size: 50, readonly: true %>
    <% else %>
      <%= f.text_field :address, size: 50 %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :goto %><br>
    <%= f.text_field :goto, size: 50 %>
  </div>

  <% if @alias.pure_alias? %>
  <div class="field">
    <%= f.label :active %> <%= f.check_box :active %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>