<%= form_for([@domain, @alias]) do |f| %>
  <div class="card-body">
  <% if @alias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alias.errors.count, "error") %> prohibited this alias from being saved:</h2>

      <ul>
        <% @alias.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :local_part %><br>
    <% if controller.action_name == "edit" %>
      <%= f.hidden_field :local_part, size: 20 %>
      <%= @alias.address %>
    <% else %>
      <div class="input-group">
        <%= f.text_field :local_part, size: 20, class: "form-control" %>
        <div class="input-group-append">
          <div class="input-group-text">@<%= @domain.domain %></div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="form-group" id="forward-address-group">
    <%= f.label :goto %>
    <% @alias.forward_addresses.each_with_index do |f, i| %>
      <div class="input-group mb-2 forward-address">
      <%= text_field_tag 'alias[forward_addresses][]', f, size: 50,
                         class: "form-control" %>
        <div class="input-group-append <%= i == 0 ? "d-none" : "" %>">
          <button class="btn btn-outline-info delete-forward-address-button" type="button" <%= i == 0 ? "disabled" : "" %>>Delete</button>
        </div>
      </div>
    <% end %>
    <button class="btn btn-outline-info" id="add-forward-address-button" type="button">Add</button>
  </div>

  <% if @alias.pure_alias? %>
  <div class="form-group form-check">
    <%= f.check_box :active, class: "form-check-input" %>
    <%= f.label :active, class: "form-check-label" %>
  </div>
  <% end %>
  </div>

  <% cancel_path = @alias.pure_alias? ? domain_aliases_path(@domain) : domain_mailboxes_path(@domain)%>

  <div class="card-footer">
    <%= f.submit(class: "btn btn-primary") %>
    <%= link_to "Cancel", cancel_path, role: "button",
                class: "btn btn-secondary" %>
  </div>

<% end %>