<%= render "domains/info" %>

<table class="table-admin">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th class="text-left">Alias</th>
    <th class="text-left">To</th>
    <th class="text-center">Status</th>
    <th class="text-center">Edit</th>
    <th class="text-center">Delete</th>
    <th class="text-center">Modified</th>
  </tr>
  </thead>
  <tbody>
  <% @domain.pure_aliases.each_with_index do |a, i| %>
    <tr class="<%= a.active? ? "" : "row-inactive" %>">
      <td class="text-center"><%= i+1 %></td>
      <td><%= a.address %></td>
      <td>
        <% a.gotos.each do |g| %>
          <%= g %><br>
        <% end %>
      </td>
      <td class="text-center"><%= a.active_str %></td>
      <td class="text-center"><%= link_to "Edit", edit_domain_alias_path(@domain, a),
                      class: "btn btn-sm btn-info" %></td>
      <td class="text-center"><%= button_to "Delete", domain_alias_path(@domain, a), method: :delete,
                      form: { data: { turbo_confirm: 'Are you sure?' } },
                      class: "btn btn-sm btn-danger" %></td>
      <td class="text-center"><%= l a.modified %></td>
    </tr>
  <% end %>
  </tbody>
</table>
