<p id="notice"><%= notice %></p>

<%= form_for(@admin) do |f| %>
  <div class="card-body">
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% @admin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %><br>
    <% if controller.action_name == "edit" %>
      <%= f.hidden_field :username, size: 50 %>
      <%= @admin.username %>
    <% else %>
      <%= f.text_field :username, size: 50 %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_unencrypted %><br>
    <%= f.password_field :password_unencrypted,
                         size: 50, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_unencrypted_confirmation %><br>
    <%= f.password_field :password_unencrypted_confirmation,
                         size: 50, class: "form-control" %>
  </div>

  <div class="form-group form-check">
    <%= f.check_box :active, class: "form-check-input" %>
    <%= f.label :active, class: "form-check-label" %>
  </div>

  <div class="form-group form-check">
    <%= f.check_box :form_super_admin, class: "form-check-input" %>
    <%= f.label :form_super_admin, class: "form-check-label" %>
  </div>

  <div>
    <%= f.label :domain_ids %>
    <div  class="form-group form-check">
      <ul>
        <%= f.collection_check_boxes(:domain_ids, @domains, :domain,
                                     :domain) do |b| %>
          <li><%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <div class="card-footer">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>