<p id="notice"><%= notice %></p>

<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% @admin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <% if controller.action_name == "edit" %>
      <%= f.text_field :username, size: 50, readonly: true %>
    <% else %>
      <%= f.text_field :username, size: 50 %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_unencrypted %><br>
    <%= f.password_field :password_unencrypted, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :password_unencrypted_confirmation %><br>
    <%= f.password_field :password_unencrypted_confirmation, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :active %> <%= f.check_box :active %>
  </div>

  <ul>
    <% @domains.each do |d| %>
      <% if @admin.rel_domains.exists?(d.domain) %>
      <li><%= d.domain %> <%= check_box_tag 'admin[domain_ids][]', d.domain, checked: true %></li>
      <% else %>
      <li><%= d.domain %> <%= check_box_tag 'admin[domain_ids][]', d.domain %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>