<h1>Admins</h1>

<p id="notice"><%= notice %></p>

<% if @super_admin %>
<%= link_to "new admin", new_admin_path,
            role: "button", class: "btn btn-primary btn-lg"%>
<% end %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Admin</th>
    <th>Domains</th>
    <th>Active</th>
    <th>Edit</th>
    <% if @super_admin %>
    <th>Delete</th>
    <% end %>
    <th>Modified</th>
  </tr>
  </thead>
  <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.username %></td>
      <td>
        <% if admin.super_admin? %>
          Super Admin
        <% else %>
          <%= admin.rel_domains.count %>
        <% end %>
      </td>
      <td><%= admin.active %></td>
      <td><%= link_to "Edit", edit_admin_path(admin),
                      role: "button", class: "btn btn-info btn-sm"%></td>
      <% if @super_admin %>
      <td>
        <% if @current_admin == admin %>
        <%= link_to "Delete", "", role: "button",
                    class: "btn btn-secondary btn-sm disabled",
                    "aria-disabled": "true" %>
        <% else %>
        <%= link_to "Delete", admin, method: :delete,
                      data: { confirm: 'Are you sure?' },
                      role: "button", class: "btn btn-secondary btn-sm" %>
        <% end %>
      </td>
      <% end %>
      <td><%= l admin.modified %></td>
    </tr>
  <% end %>
  </tbody>
</table>