<%= form_for(@domain) do |f| %>
  <div class="card-body">
  <% if @domain.errors.any? %>
    <div id="error_explanation" class="alert-error">
      <h2 class="font-semibold"><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul class="list-disc pl-5">
        <% @domain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :domain, class: "form-label" %>
    <% if controller.action_name == "edit" %>
      <%= f.hidden_field :domain %>
      <%= @domain.domain %>
    <% else %>
      <%= f.text_field :domain, class: "form-input" %>
    <% end %>
  </div>

  <div>
    <%= f.label :description, class: "form-label" %>
    <%= f.text_field :description, class: "form-input" %>
  </div>

  <div>
    <%= f.label :aliases, class: "form-label" %>
    <%= f.text_field :aliases, class: "form-input w-40" %>
  </div>

  <div>
    <%= f.label :mailboxes, class: "form-label" %>
    <%= f.text_field :mailboxes, class: "form-input w-40" %>
  </div>

  <div>
    <%= f.label :maxquota, class: "form-label" %>
    <%= f.text_field :maxquota, class: "form-input w-40" %>
  </div>

  <div class="flex items-center gap-2">
    <%= f.check_box :active, class: "form-checkbox" %>
    <%= f.label :active, class: "text-sm text-gray-700" %>
  </div>
  </div>

  <div class="card-footer">
    <%= f.submit(class: "btn btn-primary") %>
    <%= link_to "Cancel", domains_path, class: "btn btn-secondary" %>
  </div>

<% end %>
