<% if flash[:notice] %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th class="text-center">#</th>
    <th>Domain</th>
    <th>Description</th>
    <th class="text-center">Mailboxes</th>
    <th class="text-center">Aliases</th>
    <th class="text-center">Max Quota</th>
    <th class="text-center">Active</th>
    <th class="text-center">Show</th>
    <% if @current_admin.super_admin? %>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    <% end %>
    <th class="text-center">Modified</th>
  </tr>
  </thead>
  <tbody>
  <% @domains.each_with_index do |domain, i| %>
    <% tr_class = domain.active? ? "" : "table-secondary" %>
    <tr class="<%= tr_class %>">
      <td class="text-center"><%= i+1 %></td>
      <td><%= domain.domain %></td>
      <td><%= domain.description %></td>
      <td class="text-center">
        <%= domain.rel_mailboxes.count %> / <%= domain.mailboxes_short_str %>
      </td>
      <td class="text-center">
        <%= domain.pure_aliases.count %> / <%= domain.aliases_short_str %>
      </td>
      <td class="text-center"><%= domain.maxquota_str %></td>
      <td class="text-center"><%= domain.active_str %></td>
      <td><%= link_to "Show", domain,
                      role: "button", class: "btn btn-primary btn-sm" %></td>

      <% if @current_admin.super_admin? %>
        <td><%= link_to "Edit", edit_domain_path(domain),
                        role: "button", class: "btn btn-info btn-sm" %></td>
        <td><%= link_to "Delete", domain, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        role: "button", class: "btn btn-secondary btn-sm" %></td>
      <% end %>
      <td class="text-center"><%= l domain.modified %></td>
    </tr>
  <% end %>
  </tbody>
</table>