<h1>Domains</h1>

<%= link_to "new domain", new_domain_path,
            role: "button", class: "btn btn-success" %>

<% if flash.key?(:notice) %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Domain</th>
    <th>Description</th>
    <th>Mailboxes</th>
    <th>Aliases</th>
    <th>Max Quota</th>
    <th>Active</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Modified</th>
  </tr>
  </thead>
  <tbody>
  <% @domains.each do |domain| %>
    <% tr_class = domain.active? ? "" : "table-secondary" %>
    <tr class="<%= tr_class %>">
      <td><%= link_to domain.domain, domain %></td>
      <td><%= domain.description %></td>
      <td><%= domain.rel_mailboxes.count %> / <%= domain.mailboxes %></td>
      <td><%= domain.pure_aliases.count %> / <%= domain.aliases %></td>
      <td><%= domain.maxquota_str %></td>
      <td><%= domain.active %></td>
      <td><%= link_to "Edit", edit_domain_path(domain),
                      role: "button", class: "btn btn-info btn-sm" %></td>
      <td><%= link_to "Delete", domain, method: :delete,
                      data: { confirm: 'Are you sure?' },
                      role: "button", class: "btn btn-secondary btn-sm" %></td>
      <td><%= l domain.modified %></td>
    </tr>
  <% end %>
  </tbody>
</table>