<% if flash[:notice] %>
  <div class="alert-notice" role="alert"><%= notice %></div>
<% end %>

<table class="table-admin">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th class="text-left">Domain</th>
    <th class="text-left">Description</th>
    <th class="text-center">Mailboxes</th>
    <th class="text-center">Aliases</th>
    <th class="text-center">Max Quota</th>
    <th class="text-center">Status</th>
    <th class="text-center">Show</th>
    <% if @current_admin.super_admin? %>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    <% end %>
    <th class="text-center">Modified</th>
  </tr>
  </thead>
  <tbody>
  <% @domains.each_with_index do |domain, i| %>
    <tr class="<%= domain.active? ? "" : "row-inactive" %>">
      <td class="text-center"><%= i+1 %></td>
      <td><%= domain.domain %></td>
      <td><%= domain.description %></td>
      <td class="text-center">
        <% if domain.mailboxes_unlimited? %>
          <%= domain.rel_mailboxes.count %>
        <% else %>
          <%= domain.rel_mailboxes.count %> / <%= domain.mailboxes_short_str %>
        <% end %>
      </td>
      <td class="text-center">
        <% if domain.aliases_unlimited? %>
          <%= domain.pure_aliases.count %>
        <% else %>
          <%= domain.pure_aliases.count %> / <%= domain.aliases_short_str %>
        <% end %>
      </td>
      <td class="text-center"><%= domain.maxquota_short_str %></td>
      <td class="text-center"><%= domain.active_str %></td>
      <td class="text-center"><%= link_to "Show", domain, class: "btn btn-sm btn-primary" %></td>

      <% if @current_admin.super_admin? %>
        <td class="text-center"><%= link_to "Edit", edit_domain_path(domain), class: "btn btn-sm btn-info" %></td>
        <td class="text-center"><%= button_to "Delete", domain, method: :delete,
                        form: { data: { turbo_confirm: 'Are you sure?' } },
                        class: "btn btn-sm btn-danger" %></td>
      <% end %>
      <td class="text-center"><%= l domain.modified %></td>
    </tr>
  <% end %>
  </tbody>
</table>
