<h1><%= @domain.domain %></h1>

<ul>
  <li>Mailbox: <%= @domain.rel_mailboxes.count %> / <%= @domain.mailboxes %></li>
  <li>Alias: <%= @domain.pure_aliases.count %> / <%= @domain.aliases %></li>
  <li>Quota (MB): <%= @domain.maxquota %></li>
  <li>Active: <%= @domain.active %></li>
  <li>Modified: <%= @domain.modified %></li>
</ul>

<h3>Mailbox</h3>
<table>
  <% @domain.rel_mailboxes.each do |m| %>
    <tr>
      <td><%= m.username %></td>
      <td><%= m.name %></td>
      <td><%= m.alias.goto %></td>
      <td><%= m.quota %></td>
      <td><%= m.active %></td>
      <td><%= m.modified %></td>
    </tr>
  <% end %>
</table>

<h3>Alias</h3>
<table>
  <% @domain.pure_aliases.each do |a| %>
    <tr>
      <td><%= a.address %></td>
      <td><%= a.goto %></td>
      <td><%= a.active %></td>
      <td><%= a.modified %></td>
    </tr>
  <% end %>
</table>