<p id="notice"><%= notice %></p>

<%= link_to 'Back', domain_path(@domain) %>

<%= form_for([@domain, @mailbox]) do |f| %>
  <% if @mailbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul>
        <% @mailbox.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local_part %><br>
    <% if controller.action_name == "edit" %>
      <%= f.hidden_field :local_part, size: 20 %>
      <%= @mailbox.username %>
    <% else %>
      <%= f.text_field :local_part, size: 20 %>@<%= @domain.domain %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :password_unencrypted %><br>
    <%= f.password_field :password_unencrypted, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :password_unencrypted_confirmation %><br>
    <%= f.password_field :password_unencrypted_confirmation, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :quota_mb %><br>
    <%= f.text_field :quota_mb, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :active %> <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>