<% if flash[:notice] %>
  <div class="alert-notice" role="alert"><%= notice %></div>
<% end %>


<%= form_for([@domain, @mailbox]) do |f| %>
  <div class="card-body">
  <% if @mailbox.errors.any? %>
    <div id="error_explanation" class="alert-error">
      <h2 class="font-semibold"><%= pluralize(@mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul class="list-disc pl-5">
        <% @mailbox.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :local_part, class: "form-label" %>
    <% if controller.action_name == "edit" %>
      <%= f.hidden_field :local_part %>
      <%= @mailbox.username %>
    <% else %>
      <div class="flex">
        <%= f.text_field :local_part, class: "form-input rounded-r-none" %>
        <span class="inline-flex items-center rounded-r border border-l-0 border-gray-300 bg-gray-100 px-3 text-sm text-gray-600">@<%= @domain.domain %></span>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-input" %>
  </div>

  <div>
    <%= f.label :password_unencrypted, class: "form-label" %>
    <%= f.password_field :password_unencrypted, class: "form-input" %>
  </div>

  <div>
    <%= f.label :password_unencrypted_confirmation, class: "form-label" %>
    <%= f.password_field :password_unencrypted_confirmation, class: "form-input" %>
  </div>

  <div>
    <%= f.label :quota_mb, class: "form-label" %>
    <%= f.text_field :quota_mb, class: "form-input w-40" %>
  </div>

  <div class="flex items-center gap-2">
    <%= f.check_box :active, class: "form-checkbox" %>
    <%= f.label :active, class: "text-sm text-gray-700" %>
  </div>
  </div>

  <div class="card-footer">
    <%= f.submit(class: "btn btn-primary") %>
    <%= link_to "Cancel", domain_mailboxes_path(@domain), class: "btn btn-secondary" %>
  </div>

<% end %>
