<div class="card">
  <h4 class="card-header">Change password</h4>
  <% if flash[:notice] %>
    <div class="alert-notice mx-4 mt-4 mb-0" role="alert"><%= notice %></div>
  <% end %>

  <%= form_for @current_admin, url: {controller: :profile, action: :update } do |f| %>
    <div class="card-body">
      <% if @current_admin.errors.any? %>
        <div id="error_explanation" class="alert-error">
          <h2 class="font-semibold"><%= pluralize(@current_admin.errors.count, "error") %> prohibited
            this admin from being saved:</h2>

          <ul class="list-disc pl-5">
            <% @current_admin.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :password_unencrypted, class: "form-label" %>
        <%= f.password_field :password_unencrypted, class: "form-input" %>
      </div>

      <div>
        <%= f.label :password_unencrypted_confirmation, class: "form-label" %>
        <%= f.password_field :password_unencrypted_confirmation, class: "form-input" %>
      </div>
    </div>

    <div class="card-footer">
      <%= f.submit(class: "btn btn-primary") %>
    </div>
  <% end %>
</div>
