<!DOCTYPE html>
<html>
  <head>
    <title>MailAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">
      <%= link_to "MailAdmin", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% admins_class = controller.controller_name == "admins" ? "active" : ""  %>
          <% domains_class = controller.controller_name == "domains" ? "active" : ""  %>
          <li class="nav-item <%= admins_class %>">
            <%= link_to "Admins", admins_path, class: "nav-link",
                        style: "text-decoration: underline" %>
          </li>
          <li class="nav-item <%= domains_class %>">
            <%= link_to "Domains", domains_path, class: "nav-link",
                        style: "text-decoration: underline" %>
          </li>
        </ul>

        <% if @current_admin.super_admin? %>
          <%= link_to "new admin", new_admin_path,
                      role: "button", class: "btn btn-outline-success",
                      style: "margin: 0 8px" %>

          <%= link_to "new domain", new_domain_path,
                      role: "button", class: "btn btn-outline-success",
                      style: "margin: 0 8px" %>
        <% end %>

        <div class="ml-md-auto">
          Signed in as
          <span class="font-weight-bold"><%= @current_admin.username %></span>
          &nbsp;&nbsp;
          <%= link_to "Sign out", logout_path, method: :delete,
                      role: "button", class: "btn btn-outline-primary" %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </div>
  </body>
</html>
