<!DOCTYPE html>
<html>
  <head>
    <title>Mailadmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="text-align: center;">
  <div class="container">
    <h1 style="margin-top: 50px">Mailadmin</h1>
    <%= yield %>
  </div>
  </body>
</html>
